<!DOCTYPE html>
<html xmlns:th="http://www.thymeleleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pessoas</title>
</head>
<body>
        <h1>Lista de Pessoas</h1>


        <a th:href="@{Pessoas/cadastrar}">Cadastrar novas Pessoas</a>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Ações</th>
                </tr>
            </thead>   
            <tbody>
                <tr th:each="pessoa: ${Lista}">
                    <td th:text="${pessoa.id}"></td>
                    <td th:text="${pessoa.nome}"></td>
                    <td th:text="${pessoa.idade}"></td>
                    <td>
                        <a th:href="@{/pessoas/{id}(id=${pessoas.id})}">Detalhes</a>
                        
                    </td>
                </tr>
            </tbody> 
        </table>
</body>
</html>