<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Veiculos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <main class="main-content">
        <h1>Lista de Veiculos</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Modelo</th>
                    <th>ano</th>
                    <th>Valor</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="produto: ${lista}">
                    <td th:text="${produto.id}"></td>
                    <td th:text="${produto.modelo}"></td>
                    <td th:text="${produto.ano}"></td>
                    <td th:text="${produto.valor}"></td>
                    <td>
                        <a th:href="@{/Veiculos/{id}(id=${produto.id})}" class="botao">Detalhes</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </main>

    
</body>

</html>